<launch>
    <arg name="use_base" default="true"/>
    <arg name="use_arm" default="true"/>
    <arg name="use_sim" default="true"/>

    <include file="$(find locobot_control)/launch/main.launch">
        <arg name="use_base" value="$(arg use_base)"/>
        <arg name="use_arm" value="$(arg use_arm)"/>
        <arg name="use_sim" value="$(arg use_sim)"/>
    </include>

<node name="gui_to_locobot_base" pkg="telenursing_locobot_ctrl" type="gui_to_locobot_base.py" output="screen" respawn="false"/>
<node name="gui_to_locobot_arm" pkg="telenursing_locobot_ctrl" type="gui_to_locobot_arm.py" output="screen" respawn="false"/>

</launch>