<launch>
    <arg name="use_base" default="true"/>
    <arg name="use_arm" default="true"/>
    <arg name="use_sim" default="false"/>
    <arg name="use_camera" default="true"/>
    <arg name="use_laser" default="False"/>
    <arg name="use_rviz" default="true"/>
    <arg name="use_vslam" default="false"/>

    <include file="$(find locobot_control)/launch/main.launch">
        <arg name="use_base" value="$(arg use_base)"/>
        <arg name="use_arm" value="$(arg use_arm)"/>
        <arg name="use_sim" value="$(arg use_sim)"/>
        <arg name="use_camera" value="$(arg use_camera)"/>
        <arg name="use_rviz" value="$(arg use_rviz)"/>
        <arg name="use_vslam" value="$(arg use_vslam)"/>
    </include>

    <include file="$(find ydlidar_ros_driver)/launch/G2.launch"/>

    <node name="video_server" pkg="web_video_server" type="web_video_server" />
    <node name="ros_to_flask_bridge" pkg="flask_bridge" type="ros_flask_bridge.py" />
    <node name="locobot_gui_ctrl" pkg="tn_locobot_control" type="locobot_gui_control.py" output="screen" args="$(arg use_laser)"/>

</launch>
