<launch>
    <!--Define default arguments -->
    <arg name="use_base" default="true"/>
    <arg name="use_arm" default="true"/>
    <arg name="use_sim" default="false"/>
    <arg name="use_camera" default="true"/>
    <arg name="use_laser" default="False"/>
    <arg name="use_rviz" default="true"/>
    <arg name="use_vslam" default="false"/>

    <!--start main locobot control launch file -->
    <include file="$(find locobot_control)/launch/main.launch">
        <arg name="use_base" value="$(arg use_base)"/>
        <arg name="use_arm" value="$(arg use_arm)"/>
        <arg name="use_sim" value="$(arg use_sim)"/>
        <arg name="use_camera" value="$(arg use_camera)"/>
        <arg name="use_rviz" value="$(arg use_rviz)"/>
        <arg name="use_vslam" value="$(arg use_vslam)"/>
    </include>

    <!-- start LiDAR ROS driver -->
    <include file="$(find ydlidar_ros_driver)/launch/G2.launch"/>

    <!-- start required ROS nodes -->
    <node name="video_server" pkg="web_video_server" type="web_video_server" />
    <node name="ros_to_flask_bridge" pkg="flask_bridge" type="ros_flask_bridge.py" />
    <node name="lidar_to_web" pkg="flask_bridge" type="lidar_to_web.py" />
    <node name="locobot_gui_ctrl" pkg="tn_locobot_control" type="locobot_gui_control.py" output="screen" args="$(arg use_laser)"/>
    <node name="point_and_click_stream_ctrl" pkg="tn_locobot_control" type="point_and_click_stream_control.py" output="screen"/>
</launch>
