<!-- This launch file starts all of the robot/ simulation-side components
    needed to control a locobot (Gazebo simulation) from a remote web interface -->

<launch>
    <arg name="use_base" default="true"/>
    <arg name="use_arm" default="true"/>
    <arg name="use_sim" default="true"/>
    <arg name="use_camera" default="true"/>

    <include file="$(find locobot_control)/launch/main.launch">
        <arg name="use_base" value="$(arg use_base)"/>
        <arg name="use_arm" value="$(arg use_arm)"/>
        <arg name="use_sim" value="$(arg use_sim)"/>
        <arg name="use_camera" value="$(arg use_camera)"/>
    </include>

    <node name="video_server" pkg="web_video_server" type="web_video_server" />
    <node name="ros_to_flask_bridge" pkg="flask_bridge" type="ros_flask_bridge.py" />
    <!-- <node name="locobot_gui_ctrl" pkg="tn_locobot_control" type="locobot_gui_control.py" output="screen"/> -->

</launch>